* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	height: 100%;
}



.flex {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.diapo {
	text-align: center;
	height: 100%;
	width: 100%;
	position: relative;
	flex-shrink: 1;
	min-height: 0;
	min-width: 0;
}

.diapo-img {
	max-width: 100%;
	height: 100%;
	object-fit: contain;
	pointer-events: none;
	        user-drag: none;
	-webkit-user-drag: none;
	        user-select: none;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
}

img {
	        user-select: none;
	-webkit-user-select: none;
	   -moz-user-select: none;
	pointer-events: none;
}

audio {
	width: 100%;
}

.audio {
	display: flex;
	width: 100%;
	height: 40px;
	background-color: #333;
	flex-shrink: 0;
	align-items: center;
}

#slide_div {
	        user-select: none;
	-webkit-user-select: none;
	   -moz-user-select: none;
}

#slide_controls {
	        user-select: none;
	-webkit-user-select: none;
	   -moz-user-select: none;
}

#play_button {
	position: absolute;
	top: 25%;
	left: 42.5%;
	width: 15%;
	height: 50%;
	z-index: 9;
	object-fit: contain;
}

#rewind_button {
	position: absolute;
	top: 25%;
	left: 1%;
	width: 14%;
	height: 50%;
	z-index: 9;
	object-fit: contain;
	pointer-events: none; /* The click event is passed through it to the underlaying diapo div */
	transform: scaleX(-1); /* Mirror image horizontally */
}

#fastforward_button {
	position: absolute;
	top: 25%;
	left: 85%;
	width: 14%;
	height: 50%;
	z-index: 9;
	object-fit: contain;
	pointer-events: none; /* The click event is passed through it to the underlaying diapo div */
}

.disapear {
	opacity: 0;
	transition: opacity 0s;
}

.show {
	opacity: 0.8;
	transition: opacity 0s;
}

.slow_fade {
	opacity: 0.0;
	transition: opacity 1s cubic-bezier(0.55, 0.06, 0.68, 0.19);
}

.quick_fade {
	opacity: 0.0;
	transition: opacity 0.2s linear;
}


/*
 * Miniature
 */

.slide_miniature_container {
	display: flex;
	width: 100%;
	height: 100%;
	overflow: auto;
	flex-wrap: wrap;
	justify-content: center;
}

.slide_miniature_link {
	flex-basis: 160px;
}

.slide_miniature {
	background-color: #303030;
	background-size: cover;
	background-position: center;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	border-radius: 10px;
	height: 105px;
	transition: all 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.current_miniature {
	border: 5px solid red;
	margin-bottom: 5px !important;
	margin-top: 5px !important;
}

.padding_slide_miniature {
	height: 10px;
	width: 100%;
}

.dummy_slide_miniature {
	flex-basis: 160px;
	height: 0;
}

.last_dummy_slide_miniature {
	flex-basis: 160px;
	height: 10px;
}

.slide_miniature:hover {
	transform: scale(1.05) perspective(1px);
}

/*
 * Description bar
 */

/* Style the button that is used to open and close the collapsible content */
.collapsible {
	display: flex;
	flex-direction: row;
	background-color: #111;
	color: #eee;
	cursor: pointer;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	flex-shrink: 0;
	        user-select: none;
	-webkit-user-select: none;
	   -moz-user-select: none;
}

.button-left {
	padding: 8px;
	flex-grow: 1;
}

.button-right {
	padding: 8px;
	flex-grow: 0;
	font-weight: bold;
}

#annotation {
	opacity: 0;
	transition: opacity 0.8s ease-out;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.collapsible:hover {
	background-color: #222;
}

/* Style the collapsible content. Note: hidden by default */
.description {
	max-width: 960px;
	color: #eee;
	height: 1000px;
	padding: 0 20px;
	background-color: #111;
	max-height: 0; /* 1000px; /* 0 to hide at start */
	transition: max-height 0.3s ease-out;
	flex-shrink: 0;
	overflow: hidden;
}

.bounce {
	-webkit-animation: bounce 0.8s ease-in-out 1;
	        animation: bounce 0.8s ease-in-out 1;
}
@-webkit-keyframes bounce {
      0%       { max-height:50px;  }
      40%       { max-height:70px;  }
      100%     { max-height:0px;  }
      /*0%       { max-height:0px;  }
      30%,60%  { max-height:70px; transition: max-height 0.3s cubic-bezier(0.55, 0.06, 0.68, 0.19); }
      100%     { max-height:0px;  }*/
}

.description-text {
	padding: 10px 0;
}

/* Description section plus/minus sign */
.button-left:before {
	content: '\02795'; /* Unicode character for "plus" sign (+) */
	font-size: 13px;
	color: white;
	float: left;
	margin-left: 3px;
	margin-right: 10px;
}

.active:before {
	content: "\2796"; /* Unicode character for "minus" sign (-) */
}

h1 {
	font-size: large;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 10px;
}

h2 {
	font-size: medium;
	text-align: center;
}

p {
	font-size: medium;
	text-align: justify;
	text-indent: 1em;
}

table {
	color: white;
	margin: 0 auto;
}

.shortcut {
	text-align: right;
	padding-right: 10px;
}

kbd {
	background-color: #eee;
	border-radius: 3px;
	border: 1px solid #b4b4b4;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
	color: #333;
	display: inline-block;
	font-size: .85em;
	font-weight: 700;
	line-height: 1;
	padding: 2px 4px;
	white-space: nowrap;
}

.title-path {
	font-size: small;
	color: lightgray;
}

a {
	color: lightgrey;
}

a:visited {
	color: lightgrey;
}

a:hover {
	color: white!important;
}

.buttons {
	margin: 10px;
}

/*
.description-pimoid {
	color: green!important;
	font-size: x-small!important;
}*/

#play_button_small {
	width: 26px;
	height: 100%;
}

#pause_button_small {
	width: 26px;
	height: 100%;
}

.first_bar_button {
	height: 100%;
	padding: 0 8px;
}

.other_bar_buttons {
	height: 100%;
	padding-right: 8px;
}

.disabled-button {
	opacity: 0.4;
}

.option-img {
	width: 26px;
	height: 100%;
}

.no-disp {
	display: none;
}

.slider {
	flex-grow: 1;
	height: 100%;
	min-width: 0;
}

.time-text-1 {
	color: white;
	padding-left: 10px;
	font-family: "Lucida Console", Courier, monospace;
}

.time-text-sep {
	color: darkgrey;
	padding: 0 5px;
	font-family: "Lucida Console", Courier, monospace;
}

.time-text-2 {
	color: grey;
	font-family: "Lucida Console", Courier, monospace;
}

.options-menu {
	position: absolute;
	bottom: 10px;
	right: 20px;
	z-index: 15;
}

.option {
	padding: 7px;
	background-color: #AAA;
	border-bottom: solid 1px black;
}

.option:hover {
	background-color: #EEE;
}

.option-first {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.option-last {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom: 0; !important
}

input[type=range] {
  height: 26px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
	background-color: #333;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 14px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #50555C;
  background: #9E9E9E;
  border-radius: 14px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 4px #000000;
  border: 0px solid #000000;
  height: 20px;
  width: 12px;
  border-radius: 10px;
  background: #E1E1E1;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #9E9E9E;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 14px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #50555C;
  background: #9E9E9E;
  border-radius: 14px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 4px #000000;
  border: 0px solid #000000;
  height: 20px;
  width: 12px;
  border-radius: 10px;
  background: #E1E1E1;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 14px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #9E9E9E;
  border: 0px solid #000000;
  border-radius: 28px;
  box-shadow: 1px 1px 1px #50555C;
}
input[type=range]::-ms-fill-upper {
  background: #9E9E9E;
  border: 0px solid #000000;
  border-radius: 28px;
  box-shadow: 1px 1px 1px #50555C;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 4px #000000;
  border: 0px solid #000000;
  height: 20px;
  width: 12px;
  border-radius: 10px;
  background: #E1E1E1;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #9E9E9E;
}
input[type=range]:focus::-ms-fill-upper {
  background: #9E9E9E;
}
